'.source.earl-grey':
  'editor':
    'autoIndentOnPaste': true
    'tabLength': 3
    'commentStart': ';;'
    'increaseIndentPattern': '(?x)
      (?:
          [\\w\\$]\\b.*(:)\\s*$
        | \\S\\s+([+\\-*/~^<>=%&|?!#]+)\\s*$
      )'
    'decreaseIndentPattern': '^\\s*(catch|elif|else|finally)\\b.*:'
