'.source.earl-grey':
  'editor':
    'autoIndentOnPaste': true
    'tabLength': 3
    'commentStart': ';;'
    'increaseIndentPattern': '(?x)
      (?:
          [\\w\\$]\\b.*(:)
        | \\S\\s+([+\\-*/~^<>=%&|?!#\\{]+)
        | [^\\w\\$\\-](and|each|each\\*|is|with|mod|not|or|when|where)
      )
      \\s*$'
    'decreaseIndentPattern': '^\\s*(?:(catch|elif|else|finally)\\b.*:|\\})'
